<div class="row">
  <div *ngFor="let temOrder of orders" class="col-md-4 myorder">
    <div class="card order-item">
      <a routerLink="/order/{{temOrder.id}}">
        <img src="assets/img/{{temOrder.img}}.jpg" alt="Denim Jeans" style="width:100%">

      </a>
      <a routerLink="/order/{{ temOrder.id}}">
        <h1>{{ temOrder.name }}</h1>

      </a>
      <p class="price"> {{ temOrder.price | currency: 'USD' }}</p>
<!--      <p class="dis"> {{ temOrder.description }}</p>-->
      <button class="btn btn-primary myButton">Add to Cart</button>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="col-md-9 pag" style="padding-left: 30%">
  <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="collectionSize"
                (pageChange)="changePage()"
                [maxSize]="5"
                [boundaryLinks]="true"

  >

  </ngb-pagination>
  <div class="sel">
    <span class="mr-2">Page Size</span>
    <select (change)="changePageSize($event)">
      <option>2</option>
      <option>5</option>
      <option selected="true">10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>
</div>
